<h2>Kitten</h2>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div>
  <h5>name: <%= @kitten.name %></h5>
  <p>age: <%= @kitten.age %></p>
  <p>cuteness: <%= @kitten.cuteness %></p>
  <p>softness: <%= @kitten.softness %></p>
</div>

<div>
  <%= link_to "Edit Kitten", edit_kitten_path(@kitten) %>
</div>

<div>
  <%=
    link_to "Delete Kitten", kitten_path(@kitten), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure you want to delete this kitten?"
    }
  %>
</div>